.DetImage{
    background-color: white;
    width: 400px;
    height: 550px;
    border-radius: 10px;
   
}

.container{
    background-color: #373b69;
    width: max-content;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 7px rgb(0,0,0,0.5);
}

.DetTitulo{
    text-align: center;
    padding: 1.5rem;
    text-decoration:underline;
}

.descriptionMovie{
    padding: 1.5rem;
    font-size: 20px;
    background-color: #373b69;
    width: 1500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 7px rgb(0,0,0,0.5);
    border-radius: 10px;
}