.titulo{
    text-align: center;
    font-size: 5rem;
    color: white;
    width: 300px;
    margin: 0 auto;
  }

  .container-titulo{
      text-decoration: none;
      size: 300px;
      display: inline-block;
  }

 